[submodule "gdk/sdk/emscripten"]
	path = gdk/sdk/emscripten
	url = http://github.com/xoftware-goodgame/emscripten-1.13
[submodule "gdk/src/ggx3"]
	path = gdk/src/ggx3
	url = http://github.com/xoftware-goodgame/ggx3
