[submodule "gdk/src/ggx3"]
	path = gdk/src/ggx3
	url = http://github.com/xoftware-goodgame/ggx3
[submodule "gdk/suite/ggradiant-1.5"]
	path = gdk/suite/ggradiant-1.5
	url = http://github.com/xoftware-goodgame/ggradiant-1.5
[submodule "gdk/sdk/emscripten-1"]
	path = gdk/sdk/emscripten-1
	url = http://github.com/xoftware-goodgame/emscripten
[submodule "gdk/suite/GGmap2build"]
	path = gdk/suite/GGmap2build
	url = http://github.com/xoftware-goodgame/GGmap2build
